.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.main-section {
  display: flex; /* Align components side by side */
  justify-content: space-between; /* Add space between components */
  align-items: flex-start; /* Align both components to the top */
  padding: 20px;
  gap: 20px; /* Consistent gap between components */
  max-width: 1200px; /* Limit the width of the container */
  margin: 0 auto; /* Center align the container horizontally */
  box-sizing: border-box;
}

.trip-planner {
  flex: 1; /* Adjusts width proportionally */
  max-width: 400px; /* Restricts maximum width for consistency */
}

.service-status {
  flex: 1; /* Adjusts width proportionally */
  max-width: 600px; /* Restricts maximum width for consistency */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
